@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Great+Vibes&family=Limelight&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff;
    overflow: hidden;
}

.menu-btn {
    position: absolute;
    top: 80px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.menu-btn.active {
    z-index: 100;
    img {
      filter: invert(1);
    }
}

.menu-btn img {
    height: 60px;
    width: 60px;
    cursor: pointer;
    font-weight: lighter;
    transition: 0.5s;
}

.content {
    position: absolute;
    top: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    width: 100%;
    z-index: 1;
    flex-direction: column;
    span {
        font-size: 150px;
        font-weight: lighter;
        font-family: 'Great Vibes',  cursive;
        margin-bottom: -60px;
        color: maroon;
        z-index: 2;
    }
    h1 {
        font-size: 150px;
        font-weight: lighter;
        text-transform: uppercase;
        font-family: 'Cinzel', serif;
    }
}

.img-divs {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    height: 350px;
    width: 100%;
    align-items: baseline;
    justify-content: space-evenly;

    div {
        height: 350px;
        width: 300px;
        
    }
}

.menu{
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #000;
    color: #fff;
    transform: translateY(-100%);
    opacity: 0;
    .page-links{
        margin-top: 30vh;
        ul {
            list-style: none;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            li {
                font-size: 50px;
                font-family: 'Cinzel', serif;
                margin-bottom: 10px;
                a {
                    color: #fff;
                    text-decoration: none;
                    padding: 5px 15px;
                }
            }
        }
    }
    .social-links {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 80px;

        ul {
            list-style: none;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            width: 100%;

            li {
               font-family: 'Limelight', cursive;
               text-transform: uppercase;
               font-size: 13px;
               margin: 0px 15px;
               cursor: pointer;
               font-weight: lighter;
               letter-spacing: 1px;
            }
        }
    }
    .hover1 {
        position: absolute;
        top: 50px;
        left: 100px;
        // width: 200px;
        height: 100px;
        width: 0;
    }
    .hover2 {
        position: absolute;
        top: 250px;
        right: 100px;
        // width: 270px;
        height: 170px;
        width: 0;
    }
    .hover3 {
        position: absolute;
        top: 600px;
        right: 200px;
        // width: 250px;
        height: 150px;
        width: 0;
    }
    .hover4 {
        position: absolute;
        top: 500px;
        left: 150px;
        // width: 250px;
        height: 150px;
        width: 0;
    }
}

a {
    &:hover {
        background-color: maroon;
    }
}